<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StandaloneFileBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A3F7F7D10AC146D00948A73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD9C3AE41E2274D900C54133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD9C3AFF1E2276F600C54133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
